<h1>prev picks</h1>
<ul>
	<% @picks.each do |pick| %>	
	<li>
		<%= pick.week %> <%= pick.team_name%> <%= pick.user.name %>
	</li>
	<% end %>
	<%= @picks.all %>


</ul>

<%= current_user.picks.all %>



<!-- want to show a list of all the previous picks from the entire league
 -->

