<!-- this is where the users will make their picks it will be a form -->
<h1>individual Users will be able to make their picks</h1>
<p>week 1</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
<p>week 2</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
<p>week 3</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
<p>week 4</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
<p>week 5</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
<p>week 6</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
<p>week 7</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
<p>week 8</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
<p>week 9</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
<p>week 10</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
<p>week 11</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
<p>week 12</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
<p>week 13</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
<p>week 14</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
<p>week 15</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
<p>week 16</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
<p>week 17</p>

<%= form_for @pick do |f| %>
  <%= f.select :week, (1..17).map{|n| [n,n]} %>
  <%= f.select :team_name, [['Seahawks','seahawks'],['Packers','packers'],['Patriots','patriots'],['Colts','colts']] %>
  <%= f.submit %>

<% end %>
		


