<!DOCTYPE html>
<html>
<head>
  <title>Threestrikes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	
		<%= link_to "Home", users_path %>
		<%= link_to "Make Pick", new_pick_path  %>
		<%= link_to "Previous Picks", picks_path  %>
		<%= link_to "Talk Trash", new_post_path  %>
		<%= link_to "Chat Room", posts_path %>
		<%= link_to "league picks", leagues_path  %>
		<%= link_to "log out", logout_path %>
	


<%= yield %>

</body>
</html> 


